html {
    font-family: "ibm-plex-sans", "Helvetica Neue", "Arial", sans-serif;
    --aside-width: 16vw;
    scroll-behavior: smooth;

}

p {
    line-height: 1.45;
    hyphens: auto;
    font-weight: 500;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    transform-origin: center center;
 transform: scale(115%);
    font-size: 115%;
}

h3 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.scroll-snap{
    scroll-snap-type: y mandatory;
}

* {
    /*border: red 1px solid;*/
}

/************* Header/nav, start ***************/
header {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    position: relative;
    height: 100svh;
    background: rgb(23, 97, 190);
    z-index: 10;
}

header > h1 {
    margin: 0;
    padding: 0 10rem 0 10rem;
    font-size: 10rem;
    line-height: 1;
    max-width: 100%;
    color: white;
    justify-self: center;

}

.down-arrow {
    display: grid;
    justify-self: center;
    height: 6rem;
    width: 7rem;
    align-items: flex-end;
    justify-content: center;

}

.down-arrow > svg {
    justify-self: center;
    overflow: visible;
    /*background: blue;*/
    height: 1.5rem;
    width: 5rem;
    filter: drop-shadow(3px 10px 5px rgba(0, 0, 0, 0.3));

}

.down-arrow > svg > rect:nth-child(1) {
    transform-origin: center center;
    transform: rotate(45deg) translateX(-1.75rem);
    fill: white;
}

.down-arrow > svg > rect:nth-child(2) {
    transform-origin: center center;
    transform: rotate(-45deg) translateX(1.75rem);
    fill: white;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--aside-width);
    z-index: 1;
    background: white;
    display: flex;
    justify-content: center;
    font-family: "IBM Plex Mono", "Roboto Mono", monospace;
    font-size: 0.9rem;
}

.timeline {
    height: 100%;
    /*position: block;*/
    /*top: 200px;*/
    /*left: 100px;*/
    border: 2px rgb(23, 97, 190) solid;
    align-self: center;
    /*margin: 50% 0 50% 50%*/

}

.timeline-marks {
    display: flex;
    position: absolute;
    height: 80vh;
    overflow: visible;
    /*background: white;*/
    width: 100px;
    align-self: center;
    justify-content: center;
}

#scroll-marker {
    position: absolute;
    top: 0;
    align-self: center;
    overflow: visible;
    /*height: 1rem;*/
    /*width: 1rem;*/
}

#scroll-marker svg {
    overflow: visible;
    width: 0;
    height: 0;
}

#scroll-marker circle {
    fill: red;
    transform: translateY(-0.2rem);
}

.marker {
    position: absolute;
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    grid-template-areas: "year markline name";
    width: auto;
    top: 0;
    align-self: center;
    align-items: center;
    /*border: black 1.5px solid;*/
}

.year {
    grid-area: year;
    justify-self: right;
}

.marker-line {
    grid-area: markline;
    top: 0;
    width: 1vw;
    margin: 0 1rem 0 1rem;
    border: black 1.5px solid;
}

/************** Article stuff, start ************/
main {
    grid-area: main;
    padding-left: var(--aside-width);
    margin: 0 11vw 0 4vw;
    background: white;
    /*filter: drop-shadow(0.5vw 0.2vw 1vw black);*/
}

article {
    margin-bottom: 20vh;
    padding: 4vw 2vw 4vw 2vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2vw;
    flex-wrap: wrap;
    grid-template-areas: "head head head head head head head" 
    "img img img img img p p";
}

article h2 {
    grid-area: head;
    font-size: 5rem;
    margin: 0 0 3vw 0;
}

article p {
    font-size: 1rem;
    margin: 0;
    column-gap: 1.5vw;

}

/***** article 1 *****/

#article-1 {
    grid-template-areas: "head head head head head head head"
"img img img img img p p";

}


#article-1 img {
    grid-area: img;
    width: 100%;
}

#article-1 p {
    grid-area: p;
}

/******** article 2 ********/
#article-2 {
    background: rgba(240, 240, 240, 1);
    grid-template-areas: "img img img img p p p"
"img img img img p p p";
}

#article-2 img {
    grid-area: img;
    width: 100%;
    align-self: center;
}

#article-2 h2 {
    display: none;
}

#article-2 p {
    column-count: 1;
    grid-area: p;
    width: 90%;
}

/********* article 3 ********/

#article-3 {
    grid-template-areas: "p p p img img img img"
"p p p img img img img"
    /*"p p p p p p p";*/;
}

#article-3 img {
    grid-area: img;
    width: 100%;
    background: #d6ebff;
}

#article-3 h2 {
    display: none;
    margin: 0;
}

#article-3 p {
    grid-area: p;
}

/********* article 4 ********/
#article-4 {
    grid-template-areas: "p p p  img img img";
    background: rgba(240, 240, 240, 1);

}

#article-4 img {
    grid-area: img;
    width: 100%;
}

#article-4 h2 {
    display: none;
    margin: 0;
}

#article-4 p {
    grid-area: p;
    width: 70%;
    align-self: center;
    justify-self: center;
}

/********* article 5 ********/
#article-5 {
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    grid-template-areas: "img"
"p";
}

#article-5 img {
    width: 100%;
    grid-area: img;
    height: 100%;
}

#article-5 h2 {
    display: none;
}

#article-5 p {
    grid-area: p;
    column-count: 2;
    width: 62%;

}

/********* article 6 ********/
#article-6 {
    background: rgba(240, 240, 240, 1);
    grid-template-columns: 2fr 1.2fr;
    grid-template-rows: auto;
    grid-template-areas: "img p";

}

#article-6 img {
    grid-area: img;
    width: 90%;
    align-self: center;
}

#article-6 h2 {
    display: none;

}

#article-6 p {
    width: 90%;
}

/********* article 7 ********/
#article-7 {
    grid-template: auto/1.4fr 2fr;
    grid-template-areas: "p img";
}

#article-7 img {
    grid-area: img;
    width: 100%;
}

#article-7 h2 {
    display: none;

}

#article-7 p {
    grid-area: p;
    width: 90%;
}

/********* article 8 ********/
#article-8 {
    background: rgba(240, 240, 240, 1);
    grid-template: auto/2.5fr 1fr;
    grid-template-areas: "img p";
}

#article-8 img {
    grid-area: img;
    width: 100%;
}

#article-8 h2 {
    display: none;
}

#article-8 p {
    grid-area: p;
    width: 90%;
    padding-left: 1vw;
    padding-top: 100px;
}

/********* article 9 ********/
#article-9 {
    grid-template: auto auto/1fr 1.5fr;
    grid-template-areas: "head head" "p img";
}

#article-9 img {
    grid-area: img;
    width: 100%;
    background: #fffaee;
}

/********* article 10 ********/
#article-10 {
    background: rgba(240, 240, 240, 1);
    grid-template: auto auto/4fr 2fr;
    grid-template-areas: "head head" "img p"
}

#article-10 img {
    grid-area: img;
    width: 100%;
}

#article-10 p {
    width: 90%;
    margin-left: 1vw;
}

/********* article 11 ********/
#article-11 {
    grid-template: auto auto/2fr 5fr;
    grid-template-areas: "head head""p img";

}

#article-11 img {
    grid-area: img;
    width: 100%;
}

#article-11 p {
    width: 90%;
    margin-left: 1vw;
}

/********* article 12 ********/
#article-12 {
    grid-template: auto auto auto/1fr 1fr;
    grid-template-areas: "head head" "img1 img2" "img1 p";
    background: rgba(240, 240, 240, 1);
}

#article-12 .image1 {
    grid-area: img1;
    width: 100%;
}

#article-12 .image2 {
    grid-area: img2;
    width: 100%;

}

#article-12 p {
    column-count: 2;

}

/*********** Footer, start, ***********/
footer {
    position: relative;
    display: grid;
    bottom: 0;
    height: 50vh;
    width: 100%;
    z-index: 10;
    background: rgb(23, 97, 190);
    font-size: 2rem;
    justify-content: center;
    align-content: center;
}
footer h1{
    color: white;
}
footer a {
    position: relative;
    justify-self: center;
    color: white;
}