html {
    font-family: "Helvetica Neue", sans-serif;
    --aside-width: 15vw;

}
a {
    color: black;
    text-decoration: none;
}
h3 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

* {
    /*border: red 1px solid;*/
}

/************* Header/nav, start ***************/
header {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    position: relative;
    height: 100svh;
    background: rgb(203, 203, 203);
    z-index: 10;
}

header > h1 {
    margin: 0;
    padding: 0 10rem 0 10rem;
    font-size: 10vw;
    max-width: 100%;
    color: white;
    justify-self: center;
}

.down-arrow {
    display: grid;
    justify-self: center;
    height: 6rem;
    width: 7rem;
    align-items: flex-end;
    justify-content: center;

}

.down-arrow > svg {
    justify-self: center;
    overflow: visible;
    /*background: blue;*/
    height: 1.5rem;
    width: 5rem;
}

.down-arrow > svg > rect:nth-child(1) {
    transform-origin: center center;
    transform: rotate(45deg) translateX(-1.75rem);
}

.down-arrow > svg > rect:nth-child(2) {
    transform-origin: center center;
    transform: rotate(-45deg) translateX(1.75rem);
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--aside-width);
    z-index: 1;
    background: white;
    display: flex;
    justify-content: center;
    font-family: "Roboto Mono", monospace;

}

.timeline {
    height: 100%;
    /*position: block;*/
    /*top: 200px;*/
    /*left: 100px;*/
    border: 2px black solid;
    align-self: center;
    /*margin: 50% 0 50% 50%*/

}

.timeline-marks {
    display: flex;
    position: absolute;
    height: 80vh;
    overflow: visible;
    /*background: white;*/
    width: 100px;
    align-self: center;
    justify-content: center;
}

#scroll-marker {
    position: absolute;
    top: 0;
    align-self: center;
    overflow: visible;
    /*height: 1rem;*/
    /*width: 1rem;*/
}

#scroll-marker svg {
    overflow: visible;
    width: 0;
    height: 0;
}

#scroll-marker circle {
    fill: red;
    transform: translateY(-0.2rem);
}

.marker {
    position: absolute;
    display: grid;
    grid-template-columns: 8rem 1fr 8rem;
    grid-template-areas: "year markline name";
    width: auto;
    top: 0;
    align-self: center;
    align-items: center;
    /*border: black 1.5px solid;*/
}

.year {
    grid-area: year;
justify-self:right;
}

.marker-line {
    grid-area: markline;
    top: 0;
    width: 1vw;
    margin: 0 1rem 0 1rem;
    border: black 1.5px solid;
}

/************** Article stuff, start ************/
main {
    grid-area: main;
    padding-left: var(--aside-width);
    margin-right: 10vw;
    /*background: linear-gradient(180deg, rgb(236, 249, 255) 0%, rgb(139, 219, 255) 100%);*/

}

article {
    margin-top: 0;
    padding: 25vh 6rem 6rem 6rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    flex-wrap: wrap;

}

#article-1 {
    grid-template-areas: "head head head head head head head"
"img img img img img p p";

}

article h1 {
    grid-area: head;
    margin: 0 0 0.5rem 0;
}

#article-1 img {
    grid-area: img;
    width: 100%;
}

#article-1 p {
    grid-area: p;
}

.placeholder-space {
    height: 2000px;
}

.placeholder {
    background: rgba(255, 0, 0, 0.1);
    height: 150px;
    width: 30%;
}

/*********** Footer, start, ***********/
footer {
    position: relative;
    bottom: 0;
    height: 50vh;
    width: 100%;
    z-index: 10;
    background: rgba(255, 228, 196, 0.5);
}

/**********@ test *************/
#article-12 img:nth-child(1)